.container{
    background-color: #49a4ff;
    text-align: center;
    letter-spacing: -1px;
    word-spacing: 25px;
    font-size: 25px;
    text-transform: uppercase;
    border: dotted 5px black;
    margin-bottom: 30px;
}

h1{
    text-align: left;
    text-transform:lowercase;
}

.formata01{
    /*border-top: 2px solid red;
    border-right: 5px solid yellow;*/
    border: 5px solid yellow;
    width: 250px;
    height: 150px;
    padding: 50px;
    text-align: justify;
    line-height: 200%;
}

